<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{movie}} {{year}} Rating</title>
</head>

<body>
    <form action="/signIn" method="post">
        <button>Change User</button>
    </form>

    <form action="/homePage" method="post">
        <button>Home</button>
    </form>

    <h5>Logged in as User {{userID}}</h5>

    <h1>{{movie}} {{year}} Rating</h1>
    The average rating of {{movie}} is {{movieRating}} rated by {{num}} people

</body>

</html>