<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>
    <form action="/signIn" method="post">
        <button>Change User</button>
    </form>
    
    <form action="/homePage" method="post">
        <button>Home</button>
    </form>

    <h5>Logged in as User {{userID}}</h5>

    <h1>Movies List</h1>

    <table>
        <tr>
            <th>Movie</th>
            <th>Genres</th>
        </tr>
        {% for movie in movies %}
        <tr>
            
            <td>{{movie}}</td>
            <td>{% for genre in movies[movie][1] %} 
                {{genre}}, 
                {% endfor %}
            </td>
            
        </tr>
        {% endfor %}
    </table>

</body>

</html>